@import './src/assets/styles/variables';

.gerenciar-alunos {

    &-content {
        margin: 50px 15%;

        .pesquisar-alunos {
            margin-top: 50px;

            .poa-input {
                margin: 0;  
            }

            .button {
                margin-top: 15px;
            }
        }

        .button-cadastrar-aluno {
            margin-top: 15%;
        }
    }
}